@model IEnumerable<CarrerTrack.Web.Model.Skill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br />

<p>
    @Html.ActionLink("Add a new skill", "Create", null, new {@class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", "Skill", new { id = item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
